<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python | Flask | Mysql</title>
</head>
<body>
    <h1>Hola Flask</h1>
    <table>
        <thead><!-- encabezado de la lista -->
            <tr>
                <th>#</th>
                <th>Foto</th>
                <th>Nombre</th>
                <th>Correo</th>
            </tr>
        </thead>
        <tbody>
            <!-- librerias jinja -->
             <!-- este template recibe por contexto-->
            <!-- escribo python a continuación -->
             {% for empleado in empleados %}
             <tr>
                <td>{{empleado[0]}}</td>
                <td>{{empleado[3]}}</td>
                <td>{{empleado[1]}}</td>
                <td>{{empleado[2]}}</td>
             </tr>
             {% endfor %}
        </tbody>
    </table>
</body>
</html>